* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-withbackground {
  background-color: #BECCFF;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}

h2.linksbuendig-mobile {
  display: none;
}

h2.linksbuendig-desktop {
  font-size: 2rem;
  text-align: left;
}

.with-background {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.with-background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.21875em;
  left: 0;
  right: 0;
  bottom: 0.25em;
  background-color: rgba(215, 255, 0, 1);
  z-index: -1;

}

a.with-background {
  width: autoh;
}

span.projectheader {
  position: relative;
  z-index: 1;
}

a.kursiv {
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
  cursor: ne-resize;
}

p.text-mobile {
  display: none;
}

code {
  font-weight: bold;
}

a {
  color: inherit;
  /* width: 100%; */
}

figure a {
  width: 100%;
}

a.active {
  color: black;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.313rem solid currentColor;
  width: 100%;
  z-index: 2;
}

header .logo {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

header .logo a {
  text-decoration: none;
  cursor: nw-resize;
}

a.headerlink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
  cursor: ne-resize;
  margin-top: 0.6rem;
}

a.headerlink-active {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
  border-bottom: 0.313rem solid currentColor;
  cursor: ne-resize;
}

header label {
  display: none;
  width: 1.875rem;
  height: 1.5rem;  /*Geamtgröße*/
}

header label div {
  background-color: currentColor; /* Aktuelle Textfarbe */
  height: 0.25rem;
  margin-bottom: 0.375rem; /*Abstand zwischen linien*/
  transition: transform 350ms ease
}

header label div.top {
  /* animation: burgerTopReverse 350ms ease forwards; */
}

header label div.bottom {
  margin-bottom: 0;
  /* animation: burgerBottomReverse 350ms ease forwards; */
}

header input[type=checkbox] {
  display: none;
}

/* hier passiert die Magie: wenn die checkbox abgehakt ist, wird die nav angezeigt und der Burger animiert sich */
header input[type=checkbox]:checked ~ nav {
  visibility: visible;
  opacity: 1;
  transform: none;
}

header input[type=checkbox]:checked ~ label .top {
 transform: translateY(250%) rotate(225deg);   /* Prozentangabe anpassen */
 /* animation: burgerTop 350ms ease forwards; */
}

header input[type=checkbox]:checked ~ label .middle {
  transform: scaleX(0);
}

header input[type=checkbox]:checked ~ label .bottom {
  transform: translateY(-250%) rotate(-225deg);    /* Prozentangabe anpassen */
  /* animation: burgerBottom 350ms ease forwards; */
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-child) {
  margin-right: 5rem;
}

nav.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4.563rem;
  width: 3.125rem;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 0.313rem solid black;
}

nav.sidebar p{
  font-weight: 800;
  text-transform: uppercase;
  margin-top: auto;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.5rem;
  border-bottom: 0.313rem solid black;
  padding-bottom: 2.5rem;
  line-height: 3.125rem;
}

nav.sidebar a {
  background-color: black;
  cursor: nw-resize;
  /* padding: 8px; */
}

nav.sidebar a svg {
  display: block;
}

main .impressum {
  margin-top: 8.125rem;
  margin-left: 1.875rem;
  margin-bottom: 3.125rem;
  margin-right: 12.5rem;
}

main .contact {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

main .contact div{
  padding-top: 6.25rem;
  width: 60%;
  padding-left: 0.938rem;
  padding-bottom: 1.875rem;
  border-left: 0.313rem solid black;
}

#contact-main {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin-top: 4.75rem;
  margin-left: 3.125rem;
}

main .left-right {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.313rem solid black;
}

main .left-right .left {
  width: 55%;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

main .left-right .right {
  width: 45%;
  border-left: 0.313rem solid black;
}

main .left-right.left-65 .left {
  width: 35%;
}

main .left-right.left-65 .right {
  width: 65%;
}

main .left-right.left-60 .left {
  width: 40%;
}

main .left-right.left-60 .right {
  width: 60%;
}

main .left-right.left-57 .left {
  width: 43%;
}

main .left-right.left-57 .right {
  width: 57%;
}

main .left-right.left-55 .left {
  width: 45%;
}

main .left-right.left-55 .right {
  width: 55%;
}

main .left-right.left-50 .left {
  width: 50%;
}

main .left-right.left-50 .right {
  width: 50%;
}

main .left-right.left-45 .left {
  width: 55%;
}

main .left-right.left-45 .right {
  width: 45%;
}

main .left-right.left-40 .left {
  width: 50%;
}

main .left-right.left-40 .right {
  width: 50%;
}

main .left-right:last-of-type {
  /* border-top: 5px solid black; */
}

main .left-right .left figure,
main .left-right .right figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
}

main .left-right .left figure:hover figcaption,
main .left-right .right figure:hover figcaption {
  opacity: 1;
  visibility: visible;
  transform: none;
}

main .left-right .left figure img,
main .left-right .right figure img {
  display: block;
  width: 100%;
  cursor: ne-resize;
}

main .left-right .left figure figcaption,
main .left-right .right figure figcaption {
  position: absolute; /* Könnte auch "relative" sein, wenn sie nicht dem Cursor folgen soll */
  top: 0; /* braucht man nur, wenn sie dem Cursor folgen soll */
  left: 0.7rem; /* braucht man nur, wenn sie dem Cursor folgen soll */
  z-index: 1;
  pointer-events: none; /* braucht man nur, wenn sie dem Cursor folgen soll */
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  /* transition: opacity 500ms ease, visibility 500ms ease; */
}

.footer-impressum {
  /* margin-top: auto; */
  border-top: 0.313rem solid black;
}

footer {
  margin-left: 2.5rem;
  background-color: white;
  text-align: left;
  flex-shrink: 0;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7rem;
  overflow: hidden;
  cursor: ne-resize;
}

footer ul {
  list-style-type: none;
  font-size: 0.7rem;
  font-weight: 700;
}

p#copyright {
  font-size: 0.6rem;
  font-weight: 700;
  align-content: end;
  margin-right: 1rem;
  float: right;
  margin-top: auto;
}
