body {
  font-size: 1rem;
}

h2 {
  font-size: 1.6rem;
  margin-top: 6.1rem;
  margin-bottom: 0.7rem;
  text-align: right;
}

h2.linksbuendig {
  text-align: left;
}

/* h2.linksbuendig-mobile {
  font-size: 2rem;
  margin-left: 10px;
  text-align: left;
}

h2.linksbuendig-desktop {
  display: none;
} */

p.text-desktop {
  display: none;
}

p.text-mobile {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

header {
  padding: 0.7rem;
  border-bottom: 4px solid black;
}

header .logo {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

header label {
  display: block;
}

header nav {
  position: fixed;
  left: 0;
  top: 51px;
  width: 100%;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2rem);
  transition: visibility 350ms ease, opacity 350ms ease, transform 350ms ease;
}

header nav ul li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 9rem;
  padding: 0.5rem;
  border-bottom: 4px solid black;
}

header nav ul li:not(:last-child) {
  margin-right: 0;
}

header nav ul li a {
  display: block;
}

header nav ul li a.active {
  background-color: darkgrey;
  color: white;
}

a.headerlink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  cursor: ne-resize;
  margin-top: 0.6rem;
}

a.headerlink-active {
 text-decoration: none;
 text-transform: uppercase;
 font-weight: 800;
 font-size: 2rem;
 border-bottom: none;
 cursor: ne-resize;
}



nav.sidebar {
  display: none;
}



main {
  /* flex-grow: 1; */
  margin-top: 51px;
  margin-left: 0;
}

main section div.left.index-mobile{
  display: none;
}

main .left-right {
  display: block;
  position: static;
  border-bottom: 4px solid black;
}

main .no-bottom-border {
  border-bottom: none;
}

main .left-right .left {
  width: 100%;
  padding-right: 0.5rem;
  padding-bottom: 0rem;
  border-bottom: 4px solid black;
}

main .left-right .right {
  width: 100%;
  border-left: none;
  border-bottom: 4px solid black;
}

main .left-right.left-65 .left {
  width: 100%;
}

main .left-right.left-65 .right {
  width: 100%;
}

main .left-right.left-60 .left {
  width: 100%;
}

main .left-right.left-60 .right {
  width: 100%;
}

main .left-right.left-57 .left {
  width: 100%;
}

main .left-right.left-57 .right {
  width: 100%;
}

main .left-right.left-55 .left {
  width: 100%;
}

main .left-right.left-55 .right {
  width: 100%;
}

main .left-right.left-50 .left {
  width: 100%;
}

main .left-right.left-50 .right {
  width: 100%;
}

main .left-right.left-45 .left {
  width: 100%;
}

main .left-right.left-45 .right {
  width: 100%;
}

main .left-right.left-40 .left {
  width: 100%;
}

main .left-right.left-40 .right {
  width: 100%;
}





main .impressum {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-right: 80px;
}

main .contact div {
  padding-top: 10px;
  width: 70%;
  padding-left: 15px;
  padding-bottom: 30px;
  border-left: 4px solid black;
}

.empty-div {
  margin-top: 50px;
  border-bottom: 4px solid black;
}


footer {
  margin-left: 0px;
  background-color: white;
  text-align: left;
  padding: 0px;
  flex-shrink: 0;
}

footer ul {
  padding-left: 0px;
  margin-left: 16px;
}

.footer-impressum {
  /* margin-top: auto; */
  border-top: 4px solid black;
}
